#header{
    background-color: rgb(14,14,14);
    width: 100%;
    height: 100px;
    padding-top: 30px;
    padding-left: 50px;
    display: grid;
    justify-content: center;
}

form {
    
    width: 600px;
    height: 30px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search_bar{
    all: unset;
  font: 16px system-ui;
  
  background-color: #fff;
  height: 30px;
  width: 100%;
  padding: 6px 10px;
    flex: 1;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}




button{
    all: unset;
  cursor: pointer;
  width: 40px;
  height: 42px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


img{
    color: #fff;
    fill: currentColor;
    width: 40px;
    height: 42px;
    border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}



#all{
    float: left;
}

#nav_bar{
    width: 100%;
    height: 30px;
    word-spacing: 1.5em;
    text-align: center;
    background-color: rgb(54, 73, 100);
    padding-top: 10px;
    padding-left: 15px;
    
}

#nav_bar a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

#nav_bar a:hover{
    color: blue;
}